html {
  height:100%
}

body {
  margin:0;
  height:100%;
}

img {
  margin-top:6px;
  margin-left:15%;
}

#darkerredContainer {
  background-color:#bb2226;
  height:24px;
  border:none;
  outline:none;

}

#redContainer {
  background-color:#d1262b;
  height:70px;
}

#darkerredContainer2 {
  background-color:#bb2226;
  height:20px;

}

#whiteContainer {
  width:680px;
  height:37px;
  outline:none;
  border:none;
  background-color:white;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

#findLabel {
  margin-left:-15px;
  font-size:14px;
  font-family:"Helvetica-Bold";
}

#mainInputSearch {
  height:34px;
  font-size:13.5px;
  font-family:"Helvetica";

  placholder-color:black;
  outline:none;
  border:none;
  padding-left:5px;
}


#nearLabel {
  padding-left:100px;
  font-size:14px;
  font-family:"Helvetica-Bold";
}

#locationInputSearch {
  width:300px;
  height:34px;
  font-size:13.5px;
  font-family:"Helvetica";
  outline:none;
  border:none;
  padding-left:5px;
}

#centerAlignContainer {
  text-align: center;
  display:inline-block;
}

#searchButton {
  width:80px;
  height:38px;
  font-size:14px;
  font-family:"Helvetica";
  outline:none;
  border:none;
  color:white;
  background-color:#bb2226;
}

#searchButton:hover {
  background-color:#a51f22;
}


#lowerGreyContainer {
  height:100px;
  background-color:#f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

#lowerGreyContainer {
  padding-top:40px;
}

#displayResultsArea {
}

#footer {
  margin-top:40%;
  background-color:#f5f5f5;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10rem;
  text-align: center;

}

li {
  list-style-type:none;
  color:#1074b9;
  font-size: 14px;
  font-family:"Helvetica";
  margin-top:5px;
}

ul {
  text-align: left;
  color:#d1262b;
  font-size: 16px;
  font-family:"Helvetica-Bold";
}

#restaurantNameHolder {
  font-family:"Helvetica-Bold";
  font-size:21px;
  float:left;
  margin-left:15%;
  margin-right:10px;
}

#locationNameholder {
  font-family:"Helvetica";
  font-size:21px;
  float:none;
}

#priceButtonContainer{
  margin-top:10px;
  margin-left:15%;
}

#oneDollar, #twoDollar, #threeDollar, #fourDollar {
  height:35px;
  border-radius:6px;
  outline:none;
  border: 1px solid #cccccc;
}

#openNow {
  height:35px;
  border-radius:6px;
  outline:none;
  font-family:"Helvetica";
  font-size:14px;
  border: 1px solid #cccccc;

}

#allFilters {
  height:35px;
  border-radius:6px;
  outline:none;
  font-family:"Helvetica";
  font-size:14px;
}

#resultsContainerContainer {
  padding:30px;
  margin-left:100px;
  text-align: left;
  display:"block";
  margin-bottom:-100px;
}

#resultsContainer {
  display:inline-block;
  padding:50px;
}

#results-image {
  width:100px;
  height:100px;
  float:left;
  font-family:"Helvetica";
  font-size:16px;
  margin-top:55px;
}

#results-mainInfo {
  margin-left:40px;
  margin-top:80px;
  float:left;
  font-family:"Helvetica";
  font-size:15px;
  text-align:left;
}

#results-mainInfo-name {
  font-size: 18px;
  color:black;
}

#results-mainInfo-name a {
  text-decoration: none;
  color:#1074bd;
}


#results-mainInfo-categories {
  color:#1074b9;
}

#results-mainInfo-rating {
  color: #fd924c;
}

#results-mainInfo-reviews {
  color: #666666;
}

#results-location {
  margin-top:80px;
  margin-left:160px;
  float:left;
  font-family:"Helvetica";
  font-size:14.3px;
  text-align:left;
}

#footerContainer {
}

#footerFirstSection {
  display:inline-block;
  margin-right:100px;
  vertical-align: top;
}

#footerSecondSection {
  display:inline-block;
  margin-right:100px;
}

#footerThirdSection {
  display:inline-block;
}

input {
}
